# This is a basic workflow to help you get started with Actions

name: Create PR
# Controls when the workflow will run
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          ssh-key: ${{secrets.deploy_key}}

      - name: Run a one-line script
        run: date >> file.txt

      - name: Create PR
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: Update dependencies
          title: Update Dependencies
