# This is a basic workflow to help you get started with Actions

name: Create PR
# Controls when the workflow will run
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      pip_index_url: ${{ steps.set_env.pip_index_url }}
      pip_index_url2: ${{ steps.set_env.pip_index_url2 }}
      

    steps:
      - name: set_env
        run: echo "pip_index_url=${{secrets.NEW_SECRET_2}}" >> $GITHUB_OUTPUT

      - name: set_env2
        run: echo "pip_index_url2=mysecret" >> $GITHUB_OUTPUT

  test:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: set_index
        run: echo "PIP_INDEX_URL=${{needs.build.outputs.pip_index_url}}" >> $GITHUB_ENV
        
       - name: set_index2
        run: echo "PIP_INDEX_URL2=${{needs.build.outputs.pip_index_url2}}" >> $GITHUB_ENV
        
      - name: print_all
        run: set
