# This is a basic workflow to help you get started with Actions

name: Create PR
# Controls when the workflow will run
on:
  workflow_dispatch:

env:
  PIP_INDEX_URL_GLOBAL: "tes123"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: set_env
        run: echo "PIP_INDEX_URL=SomeValue" >> $GITHUB_ENV

      - name: get_env
        run: echo ${{ env.PIP_INDEX_URL }}

      - name: get_env
        run: echo ${{ env.PIP_INDEX_URL_GLOBAL }}
        
      - name: print_all
        run: set

  test:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: set_env
        run: echo "PIP_INDEX_URL=SomeValue" >> $GITHUB_ENV
        
      - name: print_all
        run: set
