# This is a basic workflow to help you get started with Actions

name: Create PR
# Controls when the workflow will run
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: set_env
        run: echo "MYVAR=SomeValue" >> $GITHUB_ENV

      - name: get_env
        run: set
