name: release

on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *"
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ssh-key: ${{secrets.deploy_key}}

      
      - name: Update tag
        run: |
          git tag "v1.0.13"
          git push origin "v1.0.13"
      
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: "v1.0.13"
          body: "yes"
