name: release

on:
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      
      - name: Update tag
        run: |
          git tag "v1.0.15"
          git push origin "v1.0.15"
      
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: "v1.0.15"
          body: "yes"
